<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chevron.IE" version="1.0.0" targetFramework="net45" />
  <package id="Chevron.IE.Merged" version="1.0.0" targetFramework="net45" />
  <package id="Chevron.Jint" version="1.0.0" targetFramework="net45" />
  <package id="Chevron.Jint.Merged" version="1.0.0" targetFramework="net45" />
  <package id="Chevron.V8" version="1.0.0" targetFramework="net45" />
  <package id="ClearScript.V8" version="5.3.10.0" targetFramework="net45" />
  <package id="CryptSharp" version="1.2.0.1" targetFramework="net40" />
  <package id="CryptSharpOfficial" version="2.0.0.0" targetFramework="net40" />
  <package id="DotLiquid" version="1.7.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net40" />
  <package id="FluentNHibernate" version="1.4.0.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net40" />
  <package id="Insight.Database.Core" version="4.2.10" targetFramework="net40" />
  <package id="Insight.Database.Providers.PostgreSQL" version="4.2.10" targetFramework="net40" />
  <package id="Jint" version="2.4.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="MsieJavaScriptEngine" version="1.5.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.3" targetFramework="net40" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Token" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Self" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Viewengines.DotLiquid" version="0.23.2" targetFramework="net45" />
  <package id="Nancy.ViewEngines.Handlebars.IE" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.ViewEngines.Handlebars.IE.Merged" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.ViewEngines.Handlebars.Jint" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.ViewEngines.Handlebars.Jint.Merged" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.ViewEngines.Handlebars.V8" version="1.0.0" targetFramework="net45" />
  <package id="Nancy.Viewengines.Razor" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.ViewEngines.Veil" version="0.2.0" targetFramework="net45" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net40" />
  <package id="Npgsql" version="2.2.1" targetFramework="net40" />
  <package id="RazorEngine" version="3.3.0" targetFramework="net40" />
  <package id="SCS" version="1.1.0.1" targetFramework="net40" />
  <package id="ServiceStack" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Client" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Common" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Host.AspNet" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Host.Mvc" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Interfaces" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Mvc" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.OrmLite" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Razor" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Server" version="4.0.34" targetFramework="net40" />
  <package id="ServiceStack.Text" version="4.0.34" targetFramework="net40" />
  <package id="System.Linq.Dynamic" version="1.0.2" targetFramework="net40" />
  <package id="Veil" version="0.2.0" targetFramework="net45" />
  <package id="Veil.Handlebars" version="0.2.0" targetFramework="net45" />
  <package id="WebActivator" version="1.5" targetFramework="net40" />
</packages>